
.character {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden; /* Cache tout débordement */
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.character-image {
  width: 100%;
  height: 100%;
  background-size: cover; /* Garde le ratio de l'image tout en la remplissant */
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease; /* Transition sur le zoom */
}

.character.active .character-image {
  transform: scale(1.05); /* Zoom léger lorsque l'instrument est actif */
}

.character.active {
  transform: scale(1.05); /* Zoom léger lorsque l'instrument est actif */
}


.character.inactive .character-image {
  filter: grayscale(100%); /* Applique un filtre noir et blanc */
}

.character:hover .character-image {
  transform: scale(1.1); /* Zoom sur l'image au hover */
}
