*{
    margin: 0;
    padding: 0;
}

.control {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-button {
    margin: 20px 0;
  }
  
  .global-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #audioControls{
    background-color: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  