*{
    margin: 0;
    padding: 0;
}

.control {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-button {
    margin: 20px 0;
  }
  
  .global-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #audioControls{
      display: flex;
      flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
      gap: 10px; /* Espace entre les éléments */
      justify-content: center; /* Centre les éléments horizontalement */
  }
  